@import "tailwindcss";

*{
    scroll-behavior: smooth;
}

.glow-text {
  text-shadow: 0 0 10px rgba(56, 189, 248, 0.3);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}

.animate-slide {
  animation: slide 40s linear infinite;
}
